/* ==================== DASHBOARD ==================== */
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-top-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.dashboard-main-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: auto;
}

.dashboard-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

/* ==================== RESPONSIVE DASHBOARD ==================== */
@media (min-width: 601px) {
  .dashboard-top-buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dashboard-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-main-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .dashboard-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}